effects
[{"id":"382a5b1b.bfbfa4","type":"bigtimer","z":"dfd32dd5.2f9fe","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"0","lon":"0","starttime":"930","endtime":"1380","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":80,"wires":[["97a352df.1142"],[],[]]},{"id":"23a60d89.9a6b52","type":"trigger","z":"dfd32dd5.2f9fe","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-10","extend":false,"units":"s","reset":"reset","bytopic":"all","name":"","x":450,"y":80,"wires":[["27efb079.9fe69"]]},{"id":"27efb079.9fe69","type":"counter","z":"dfd32dd5.2f9fe","name":"Effects Counter","init":"0","step":"1","lower":"1","upper":"9","mode":"increment","outputs":1,"x":660,"y":80,"wires":[["977b4a3b.ec41e8","702396a2.e86448"]]},{"id":"4be6e7c4.e5d5f8","type":"inject","z":"dfd32dd5.2f9fe","name":"OFF","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["382a5b1b.bfbfa4"]]},{"id":"c15c3609.958028","type":"inject","z":"dfd32dd5.2f9fe","name":"AUTO","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["382a5b1b.bfbfa4"]]},{"id":"977b4a3b.ec41e8","type":"switch","z":"dfd32dd5.2f9fe","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":80,"wires":[["b6748fc0.f13cf"]]},{"id":"b6748fc0.f13cf","type":"change","z":"dfd32dd5.2f9fe","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":80,"wires":[["27efb079.9fe69"]]},{"id":"702396a2.e86448","type":"switch","z":"dfd32dd5.2f9fe","name":"Effects","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":670,"y":360,"wires":[["f88eb4cc.92b988"],["71128913.889c58"],["c934d2fe.300e6"],["edb9302.a09b4d"],["166c18d0.f855e7"],["3afc5a06.182836"],["bf6ca8c9.11f608"],["a7297b2f.704288"],["2bb3086f.2420f8"]]},{"id":"7ed43629.8b15b8","type":"http request","z":"dfd32dd5.2f9fe","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":540,"wires":[["8f2a6570.a7e4a8"]]},{"id":"8f2a6570.a7e4a8","type":"file","z":"dfd32dd5.2f9fe","name":"","filename":"/share/node-red/outside.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":540,"y":540,"wires":[[]]},{"id":"62097528.8cb3cc","type":"inject","z":"dfd32dd5.2f9fe","name":"Save wled State","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["7ed43629.8b15b8"]]},{"id":"3282eb54.5dbe24","type":"comment","z":"dfd32dd5.2f9fe","name":"Outside LED Lights /  192.168.1.19 / light.outside_christmas","info":"","x":230,"y":480,"wires":[]},{"id":"6f2bfc7.03b4404","type":"comment","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lighting setup","info":"","x":150,"y":20,"wires":[]},{"id":"71128913.889c58","type":"change","z":"dfd32dd5.2f9fe","name":"Scanner","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":60,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":220,"wires":[["8c203d05.2529b"]]},{"id":"8c203d05.2529b","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":220,"wires":[["3be8158e.79d62a"]]},{"id":"3be8158e.79d62a","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":220,"wires":[[]]},{"id":"c934d2fe.300e6","type":"change","z":"dfd32dd5.2f9fe","name":"chase rainbow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":30,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":260,"wires":[["1f2091dc.d93f4e"]]},{"id":"1f2091dc.d93f4e","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":260,"wires":[["912cfe8e.e0804"]]},{"id":"912cfe8e.e0804","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":260,"wires":[[]]},{"id":"edb9302.a09b4d","type":"change","z":"dfd32dd5.2f9fe","name":"strobe rainbow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":24,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":300,"wires":[["82db603a.d5a93"]]},{"id":"82db603a.d5a93","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":300,"wires":[["fcb026e1.6477c8"]]},{"id":"fcb026e1.6477c8","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":300,"wires":[[]]},{"id":"166c18d0.f855e7","type":"change","z":"dfd32dd5.2f9fe","name":"Twinkle","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":17,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":340,"wires":[["ed736c0f.70db3"]]},{"id":"ed736c0f.70db3","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":340,"wires":[["d526b85c.9e3ba8"]]},{"id":"d526b85c.9e3ba8","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":340,"wires":[[]]},{"id":"3afc5a06.182836","type":"change","z":"dfd32dd5.2f9fe","name":"Color loop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":8,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":380,"wires":[["7740d331.bd4c3c"]]},{"id":"7740d331.bd4c3c","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":380,"wires":[["184a5cac.d59c53"]]},{"id":"184a5cac.d59c53","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":380,"wires":[[]]},{"id":"bf6ca8c9.11f608","type":"change","z":"dfd32dd5.2f9fe","name":"BPM","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":68,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":420,"wires":[["a8973e45.d1554"]]},{"id":"a8973e45.d1554","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":420,"wires":[["9835eb20.04b698"]]},{"id":"9835eb20.04b698","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":420,"wires":[[]]},{"id":"a7297b2f.704288","type":"change","z":"dfd32dd5.2f9fe","name":"Merry Christmas","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":44,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":460,"wires":[["850f0574.a206b8"]]},{"id":"850f0574.a206b8","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":460,"wires":[["999be977.e17048"]]},{"id":"999be977.e17048","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":460,"wires":[[]]},{"id":"2bb3086f.2420f8","type":"change","z":"dfd32dd5.2f9fe","name":"Juggle","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":64,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":500,"wires":[["c810f4f4.a888e8"]]},{"id":"c810f4f4.a888e8","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":500,"wires":[["56dbab6b.997074"]]},{"id":"56dbab6b.997074","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":500,"wires":[[]]},{"id":"f88eb4cc.92b988","type":"change","z":"dfd32dd5.2f9fe","name":"Firstone","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255,\"transition\":7,\"ps\":-1,\"pl\":-1,\"nl\":{\"on\":false,\"dur\":60,\"fade\":true,\"tbri\":0},\"udpn\":{\"send\":false,\"recv\":true},\"seg\":[{\"id\":0,\"start\":0,\"stop\":299,\"len\":299,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":73,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false,\"cln\":-1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":180,"wires":[["fce1f0a5.6c8e3"]]},{"id":"fce1f0a5.6c8e3","type":"json","z":"dfd32dd5.2f9fe","name":"Json push","property":"payload","action":"","pretty":false,"x":1290,"y":180,"wires":[["b7bbc1f.1e7934"]]},{"id":"b7bbc1f.1e7934","type":"http request","z":"dfd32dd5.2f9fe","name":"Outside Christmas Lights","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":180,"wires":[["73f45680.949a98"]]},{"id":"eea5323b.ec02f","type":"inject","z":"dfd32dd5.2f9fe","name":"ON","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["382a5b1b.bfbfa4"]]},{"id":"6c0f28f8.17b578","type":"change","z":"dfd32dd5.2f9fe","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":220,"wires":[["4297a208.c4be4c","6d575dd6.fbd0b4"]]},{"id":"4297a208.c4be4c","type":"json","z":"dfd32dd5.2f9fe","name":"Json OFF","property":"payload","action":"","pretty":false,"x":460,"y":220,"wires":[["e75a4993.9e4e18"]]},{"id":"e75a4993.9e4e18","type":"http request","z":"dfd32dd5.2f9fe","name":"OFF","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.1.18/json/state","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[[]]},{"id":"6d575dd6.fbd0b4","type":"change","z":"dfd32dd5.2f9fe","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["23a60d89.9a6b52"]]},{"id":"97a352df.1142","type":"switch","z":"dfd32dd5.2f9fe","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":80,"wires":[["23a60d89.9a6b52"],["6c0f28f8.17b578"]]},{"id":"bb8b0a62.24f878","type":"bigtimer","z":"dfd32dd5.2f9fe","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Sunset-0030","comment":"","lat":"42.183526","lon":"-83.073397","starttime":"5004","endtime":"15","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":394.4444274902344,"y":411.111083984375,"wires":[[],[],[]]}]
